@import "../variables-mixins/var-mix";
#user-form {
  position: fixed;
  top: 0rem;
  left: 0rem;
  height: 100vh;
  transform: translateX(-200%);
  background: $bg-primary;
  z-index: 3;
  width: 100%;
  transition: all 500ms ease;
  @include dfcc;
  background-color: $bg-primary;
  .form {
    border-radius: 10px;
    height: 60vh;
    @include dfcc;
    width: 55dvw;
    gap: 1rem;
    background: $bg-secondary;
    input,
    textarea {
      border: 1px solid ridge;
      padding: 0.3rem 0.5rem;
      resize: none;
      background: $bg-tertiary;
      width: 70%;
      &:focus {
        outline: none;
      }
    }
    textarea {
      height: 10rem;
    }

    .form-btn {
      padding: 0.2rem 1.5rem;
      background: $bg-tertiary;
      font-family: "Archivo Narrow", sans-serif;
      font-size: 1.2rem;
      cursor: pointer;
      text-transform: capitalize;
      &:active {
        translate: 0px 5px;
      }
    }
  }
  .additional-data {
    margin-top: 1rem;
    text-align: center;
  }
  .user-page-cancel-icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
  }
  .user-page-logo {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 10rem;
  }
}
