@import "../variables-mixins/var-mix";
#bestsellers {
  height: 100vh;
  width: 100%;
  position: relative;
  background: $bg-secondary;
  margin-top: 2rem;
  padding: 1rem;
  h2 {
    text-align: center;
    margin: 1rem;
  }
  .swiper2 {
    width: 100%;
    height: 100%;

    .swiper-slide {
      overflow: hidden;
      background-position: center;
      background-size: cover;
      width: 30%;
      height: 75vh;

      .bestselling-product-container .product-link {
        height: 70vh;

        @include dfcc;
        gap: 1rem;
        img {
          overflow: hidden;
          width: 100%;
          height: 60vh;
        }
      }
    }
  }
}
