@import "../variables-mixins/var-mix";

#best-in-fashion {
  margin: 5rem 0 0 0;
  height: clamp(200vh, 250vh, 250vh);
  width: 100%;
  padding: 1.5rem;

  .fashion-products-wrapper {
    position: relative;

    padding: 1rem;
    margin: auto;
    background: $bg-secondary;
    width: 100%;
    height: 95%;
    @include dfc;
    justify-content: space-around;
    flex-wrap: wrap;
    .product-container {
      border-radius: 5px;
      background: $bg-primary;
      height: 45%;
      width: 40%;
      img {
        border-radius: 5px;
        height: 75%;
        width: 100%;
      }
      .product-details {
        @include dfcc;
        align-items: flex-start;
        padding: 1rem;
        gap: 0.5rem;
      }
    }
  }
}
