@import "../variables-mixins/var-mix";

#category-page {
  transform: translateX(-200%);
  transition: all 800ms ease;
  height: 100vh;
  position: fixed;
  display: block;
  // z-index: 1;
  padding: 5rem 0 5rem 0;
  width: 100%;
  top: 0rem;
  left: 0;
  background: $bg-primary;
  .browse-category-heading {
    padding: 0.5rem;
    text-align: right;
  }
  .category-product-cancel-icon {
    position: fixed;
    top: 5rem;
    left: 2rem;
    cursor: pointer;
  }
  .category-wrapper {
    overflow-y: scroll;
    height: 90%;
    width: 100%;
    .category-product {
      border-radius: 10px;
      position: relative;
      margin: 1rem auto 1rem auto;
      height: 10rem;
      background: $bg-secondary;
      width: 70%;

      .category-product-container-link {
        padding: 1rem;
        @include dfc;
        border-radius: 5px;
        justify-content: flex-start;
        margin: auto;
        width: 100%;
        height: 100%;

        .category-product-thumbnail {
          width: 20%;
          height: 97%;
          border-radius: 5px;
        }
      }
      .category-product-details {
        font-size: 90%;
        padding: 1rem;
        width: 80%;
        .category-product-brand {
          text-transform: uppercase;
        }
        p {
          margin: 0.3rem;
        }
        .category-product-description {
          width: 90%;
        }
        .category-span {
          font-size: 100%;
        }
      }
    }
  }
}
