@import "../variables-mixins/var-mix";
#slider {
  width: 100%;
  margin: 6rem 0 0 0;
  height: 60vh;
  .slider-wrapper {
    .swiper1 {
      position: relative;
      
      .swiper-button-prev {
        color: $color-primary !important;
        transform: scale(1.5);
        position: absolute;
        left: 3rem;
      }
      .swiper-button-next {
        color: $color-primary !important;
        transform: scale(1.5);
        position: absolute;
        right: 3rem;
      }
      .slider-contents {
        @include dfc;
        
        img {
          width: 110%;
          height: 110%;
        }
      }
    }
  }
}
